@font-face {
  font-family: myFirstFont;
  src: url("AvengeroRegular-zvgl\ 3.8312132d.ttf");
}
body{
  margin: 0;
  background:  linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(87,145,184,1) 0%, rgba(187,234,244,1) 100%);;
  font-family: 'Oswald', sans-serif;;
  header{
    background-color: #17A2B8;
    height: auto;
    nav{
      margin : 0 15px 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header_burger_close {
        display: none;
        cursor: pointer;
          svg {
            width: 35px;
            height: 32px;
          }
      }
      .on{
        display: block; 
      }
      .header_burger_open {
        display:block;
        cursor: pointer;
          svg {
            width: 35px;
            height: 32px;
          }
      }
      .off{
       display:none;
      }
      .add{
        display:flex;
        align-items: center;
          :hover {
            transition: transform 1.5s;
            transform: rotate(180deg);
          }
        .plus {
          color: white;
          :hover {
            display: block;
            color: #17A2B8;
            background-color: rgb(255, 255, 255);
            border-radius: 50%; 
          }
          .ajouter{
            height:50px;
            width:50px;
            transform: rotate(45deg);
            :hover{
            transform: rotate(0deg);
            }
          }
        }
        #a-character-creation{
          text-decoration: none;
          color:rgb(31, 48, 146);
          display:none;
          transition: all 500ms ease-in-out;
            a:visited{
            color:rgb(142, 149, 190);
            }
        }
      }
      h1 {
        cursor: pointer;
        font-family: myFirstFont, sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: #f5f5f5;
        text-align: center;
        text-shadow: 0 3px 10px rgb(32, 196, 218), 0 3px 10px rgb(32, 196, 218), 0 3px 10px rgb(32, 196, 218);
        &:hover {
          color: rgb(31, 48, 146);
          text-shadow: 0 8px 10px rgb(32, 196, 218), 0 8px 10px rgb(32, 196, 218), 0 8px 10px rgb(32, 196, 218);

        }
      }
      form{
        input{
          height: 30px;
          width: 250px;
          font-size: 18px;
          border: white;
          box-shadow: 2px 2px 3px white;
          border-radius: 45px;
          background-color: rgb(231, 245, 241);
          text-align: center;
        }
      }
    }
  }
  main {
      margin: 30px 0 30px 0;
      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        section {
          border-radius: 25px;
          box-shadow: 3px 3px 3px rgb(23, 141, 161);
          padding: 20px;
          width: 300px;
          height: 400px;
          text-align: center;
          background-color: #bed6f5;
          display: flex;
          flex-direction: column;
          gap: 25px;
          justify-content: center;
          align-items: center;
            img{
              border-radius: 50%;
              height: 125px;
              width:125px;
            }
            h2{
              font-size: 25px;
              color:#17A2B8;
              text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255) ;
            }
            h3{
              color:rgb(96, 125, 255);
              text-shadow: 0 1px 10px beige, 0 1px 10px beige ;
              font-size: 17px;
            }
        }
        :hover {
        opacity: 95%;
        background-color: #7ea0df;
        img{
        box-shadow:  0 0 10px #ffffff, 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255) ;;
        }
        h2{
        font-size: 25px;
        color:#280ebd;
        text-shadow: 0 0 10px #ffffff, 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255) ;
        }
        h3{
        color:#ffffff;
        text-shadow: 0 1px 10px #3c84c7, 0 1px 10px #3c84c7, 0 1px 10px #3c84c7, 0 1px 10px #3c84c7, 0 1px 10px #3c84c7 ;
        font-size: 17px;
        }
        }
        .a-dashboard{
          font-size: 20px;
          text-decoration: none;
          background-color: #ffffff;
          color: #17A2B8;
          text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255) ;
          border: 1px solid rgb(148, 213, 243);
          border-radius: 50px;
          box-shadow:  0 0 10px #ffffff, 0 0px rgb(255, 255, 255);
          width: 140px;
          padding: 12px;
        }
      }
      .character-creation{
        margin-bottom: 70px;
        #formCreation{
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #cbf3ff;
          margin: auto;
          border: solid 3px #abd9e7;
          box-shadow:0 0 10px #abd9e7, 0 0 10px #abd9e7, 0 0 10px #abd9e7 ;
          border-radius: 10px;
          max-width: 500px;
          h1{
            color:#ffffff;
            text-shadow: 0 1px 10px #5f8a80, 0 1px 10px #5f8a80;
            font-size: 26px;
          }
          #name {
            height: 30px;
            width: 190px;
            font-size: 15px;
            font-family: 'Oswald', sans-serif;
            border: none;
            box-shadow: 2px 2px 3px white;
            border-radius: 20px;
            background-color: white;
            text-align: center;
            padding: 1px 2px;
          }
          textarea {
            height: 45px;
            width: 190px;
            font-size: 15px;
            font-family: 'Oswald', sans-serif;
            border: none;
            box-shadow: 2px 2px 3px white;
            border-radius: 20px;
            background-color: white;
            text-align: center;
          }
          #image{
            font-size: 15px;
            font-family: 'Oswald', sans-serif;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
          } 
          #submit {
            height: 45px;
            width: 190px;
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
            border: none;
            box-shadow: 3px 3px 5px #17A2B8;
            border-radius: 30px;
            background-color: #17A2B8;
            color: white;
            text-align: center;
            &:hover{
              opacity: 70%;
              cursor: pointer;
              color: black;
            }
          }
        }
        .modify_c {
          font-size: 25px;
          color:rgb(18, 115, 145); 
          text-align: center;
        }
      }
      .character-editor{
        margin: 0 auto;
        border-radius: 25px;
        box-shadow: 3px 3px 3px rgb(23, 141, 161);
        padding: 20px;
        max-width: 900px;
        text-align: center;
        background-color: #bed6f5;
        display: flex;
        flex-direction: column;
        gap: 12px;
        .description_fiche{
          h2{
            font-size: 25px;
            color:#17A2B8;
            text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255) ;
            }
          img{
            border-radius: 50%;
            height: 200px;
            width: 200px;
          }
          h3{
            color:rgb(96, 125, 255);
            text-shadow: 0 1px 10px beige, 0 1px 10px beige ;
            font-size: 17px;
          }
        }
        #button-MD{
          display: flex;
          justify-content: center;
          gap: 50px;
          button{
            width:70px;
            height:70px;
            border-radius: 12px;
            border: 3px solid rgb(236, 236, 236);
            background-color: #17A2B8;
            cursor: pointer;
            &:hover {
              box-shadow: 5px 5px 20px rgb(236, 236, 236);
            }
          }
            #button-modify{
              background-image: url("/img/modify.png"); 
              background-position: center;
              background-repeat: no-repeat;
            }
            #button-delete{
              background-image: url("/img/delete.png") ;
              background-position: center;
              background-repeat: no-repeat;
            }
        }
        &:hover{
          img{
          box-shadow:  0 0 10px #ffffff, 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255) ;
         }
        }
        .deleted_c {
          font-size: 35px;
          color:rgb(18, 115, 145)
        }
      }
  }

  @media (max-width: 700px){
    nav {
      flex-direction: column;
      padding: 15px;
    }
  }
}
